
.icon-user-add:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-vcard:before { content: '\e809'; } /* '' */
.icon-contacts:before { content: '\e80a'; } /* '' */
.icon-direction-outline:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-lock-filled:before { content: '\e80d'; } /* '' */
.icon-lock-open-filled:before { content: '\e80e'; } /* '' */
.icon-user-delete:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-briefcase:before { content: '\e812'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-tags:before { content: '\e814'; } /* '' */
.icon-calendar:before { content: '\e815'; } /* '' */
.icon-book:before { content: '\e816'; } /* '' */
.icon-home-1:before { content: '\e817'; } /* '' */
.icon-mobile:before { content: '\e818'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */